
<div class="contain"><div class="divider"></div></div>
<h5> <%= link_to "#{post.title}", post_path(post), class: "post_link" %> </h5>
<p> <%= post.message %> </p>
<% if session[:user_id] == nil %>
  <p><%= post.user.name %></p>
<% else %>
  <%= link_to "#{post.user.name}", user_path(post.user), class: "body_link" %>
<% end %>
<span>
  <small class="right-align"><%= post.created_at.strftime("Posted on %b %-d, %Y")%></small>
</span>
<br>
<p> <%= pluralize(post.comments.count, 'Comment') %> <p>
<% if post.comments.count > 0 %>
  <%= link_to "Go to Thread", post_path(post), class: "body_link" %>
<% else %>
  <%= link_to "Add a Comment", post_path(post), class: "body_link" %>
<% end %>
<div class="divider"></div>
