<div class="header z-depth-1">
  <img src= "<%= @city.image %>" >
  <span class="city_name z-depth-1">
    <h3 class="city_title"><%= @city.name %></h3>
  </span>
</div>

<div class="post_background">
    <a href="<%= new_post_path %>">
      <button class="btn waves-effect waves-light new-post">
        Add New Post
      </button>
    </a>
  <% flash.each do |name, msg| %>
   <p class="new-post-error">
     <%= name.capitalize %>: <%= msg %>
   </p>
 <% end %>
  <div class="post_wrap">
    <% if @city.posts.count == 0 %>
      <%= render 'posts/post', post: Post.first %>
    <% else %>
      <%  @posts.each do |post| %>
          <%= render 'posts/post', post: post %>
      <% end %>
    <% end %>
  </div>
</div>
